.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    
    margin: 0 auto;
    padding-top: 66px;
    background-color: #1f1f1f;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }   
}

@media screen and (max-width: 565px) {
    .footer {
       padding-left: 16px;
       padding-right: 16px;
       padding-top: 48px;
       flex-direction: column;
       row-gap: 48px;
    }   
}
