.header__exit {
    text-decoration: none;
    background-color: #313131;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100px;
    height: 32px;
}