.search__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.search__slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .search__slider {
  background-color: rgba(76, 175, 80, 1.0);
}

input:checked + .search__slider::before {
  transform: translateX(22px);
}