.header_logged {
  display: flex;
  background-color: #202020;
  padding: 18px 70px;
}

@media screen and (max-width: 768px) {
  .header_logged {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 470px) {
  .header_logged {
    padding: 18px 15px;
  }
}

.header_logged__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.header_logged__logo {
  width: 38px;
  height: 38px;
  transition: opacity 0.3s ease-in-out;
}

.header_logged__logo:hover {
  opacity: 0.7;
}

.header_logged__links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 770px) {
  .header_logged__links {
    display: none;
  }
}

.header_logged__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  transition: opacity 0.3s ease-in-out;
}
.header_logged__link:hover {
    opacity: 0.7;
  }
.header_logged__profile {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  background-color: #313131;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
.header_logged__profile:hover {
    opacity: 0.7;
  }
