.student__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.student__name {
  font-size: 50px;
  font-weight: 400;
}

.student__link {
  text-decoration: none;
  color: #fff;
  padding-top: 99px;
  padding-bottom: 101px;
}
.student__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  max-width: 1140px;
  margin: 100px auto;
  width: 100%;
}

.student__description {
  font-weight: 500;
  font-size: 18px;
}
.student__container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}
.student__bio {
  font-size: 14px;
  font-weight: 400;
}
.student__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 270px;
}
