.navtab {
  background-color: #272727;
  padding-top: 151px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 308px;
  border-radius: 0 0 10px 10px;
  gap: 10px;
  align-self: center;
}
@media screen and (max-width: 546px) {
  .navtab {
    width: 258px;
    gap: 6px;
    padding-top: 212px;
  }
}

.navtab__link {
  display: flex;
  background-color: #303030;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  
  width: 96px;
  height: 36px;
}
.navtab__link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 546px) {
  .navtab__link {
    width: 82px;
    height: 26px;
    font-size: 10px;
  }
}